@use '../variables'

.footer
    width: 100%
    position: relative
    background: variables.$primary-blue
    padding: 0.5rem 2rem
    z-index: 99

.footer-wrap
    display: flex
    justify-content: space-evenly

.footer-menu
    display: flex
    list-style: none
    text-decoration: none

    li
        padding: 0 1.2rem

        a
            text-decoration: none

@media screen and (max-width: 900px)
    .footer-wrap
        flex-direction: column-reverse
        text-align: center

    .footer-menu
        li
            width: 100%
            padding: 0.5rem 0.5rem

            a
                &:hover
                    font-weight: bold
                    color: variables.$secondary-blue
                    transition: 1s all

    .footer-wrap
        p
            border-top: 1px solid variables.$secondary-blue
            padding: 0.5rem 0