@use '../variables'

.header
    width: 100%
    max-width: 1280px
    display: flex
    justify-content: space-between
    padding: 0.6% 1%
    border-bottom: solid 1px #fff
    z-index: 10

.logo
    position: relative
    width: 50%
    display: flex
    font-size: 1.5rem
    font-weight: bold
    text-decoration: none
    align-items: flex-end

    a
        display: flex
        text-decoration: none

    p
        color: variables.$primary-blue
        padding-left: 0.5rem
        padding-right: 0.5rem

.desktop
    width: 50%
    position: relative
    display: flex
    flex-direction: column
    text-align: right

    i
        font-size: 1.5rem
        padding-left: 1rem
        transition: 1s

        &:hover
            color: variables.$secondary-blue
            font-weight: bold
    
    ul
        display: flex
        padding-top: 1rem
        justify-content: end

        li
            padding-left: 1.5rem
            list-style: none

            a
                text-decoration: none
                font-size: 1.2em
                transition: 1s

                &:hover
                    color: variables.$secondary-blue
                    font-weight: bold

.mobile
    display: none


@media screen and (max-width: 768px)
    .header
        position: fixed
        background: #333

    .desktop
        display: none

    .logo
        width: 150%
        align-items: center
        font-size: 1rem

    .mobile
        display: inline
        width: 100%

        i
            width: 100%
            display: flex
            justify-content: end
            font-size: 2.4rem
            padding: 1rem 1rem

        ul
            width: 100%
            background: variables.$primary-blue
            display: flex
            flex-direction: column
            position: absolute
            left: 0
            list-style: none

            li
                width: 100%
                text-align: center
                border-bottom: 1px solid variables.$light-gray

                a
                    display: block
                    background: variables.$primary-blue
                    width: 100%
                    text-decoration: none
                    padding: 1rem 0
                    transition: 1s

                    &:hover
                        background: variables.$secondary-blue
                        color: variables.$primary-blue
                        font-weight: bold

    .menu-open
        margin-top: 5px

    .menu-closed
        top: -15rem
